# MacOS Ignores
.DS_Store

# IDE Workspace Ignores
.vscode
*.code-workspace
*.theia-workspace

# Security Ignores
# No Environment variable configs
.env
# No Databases
*.sqlite3

# Python Development Environment Ignores
__pycache__
/project_env/
.python-version

# Local Development Ignores
# Include this is .git/info/exclude, if needed.
# */migrations
